$BASE_UNIT: 4px;

$SPACE_XXS: $BASE_UNIT;
$SPACE_XS: $BASE_UNIT * 2;
$SPACE_S: $BASE_UNIT * 4;
$SPACE_M: $BASE_UNIT * 6;
$SPACE_L: $BASE_UNIT * 8;
$SPACE_XL: $BASE_UNIT * 10;
$SPACE_XXL: $BASE_UNIT * 12;
