@import './styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $COLOR_DARK_01;
  color: $COLOR_LIGHT_01;
  box-sizing: inherit;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-1 {
  font-size: 64px;
}
.heading-2 {
  font-size: 48px;
}
.heading-3 {
  font-size: 40px;
}
.heading-4 {
  font-size: 32px;
}
.heading-5 {
  font-size: 24px;
}
.heading-6 {
  font-size: 16px;
}
